body{
    text-align: center;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: azure;
}

.form label{
    color:green;
    padding: 25px;
    border-radius: 10px;
}
.input-text{
    border-radius: 20px;
    padding: 10px;

}
 .select-option{
   background:purple;
   border-radius: 15px;
 }
.ummateria{
    background-color:white;
    font-family: Arial, Helvetica, sans-serif;
    max-height: 30px;
    max-width: 250px;
    height: 20px;
    width: 200px;
    border-radius: 15px;
    color: rebeccapurple;
}
.umconteudo{
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 15px;
    max-width: 300px;
    width: 250px;
    height: 30px;
    border-color:black;
}
#botao-enviar {
    background-color: blue;
    color: white;
    font-size: 16px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.ctitulo{
    border-radius: 15px;
    background:white;
    width: 300px;
    height: 30px;
}
.cprazo{
    border: 10cm;
    max-width: 300px;
    padding: 20px;
    width: 240px;
    height: 5px;
    border-radius: 20px;
    text-align:left;
    border-color: black;
}

.botao{
    background-color:rgb(23, 75, 217);
    border-radius: 20px;
    padding: 10px;
    max-width: 200px;
    width: 200px;
}


.arqbotao{
    padding: 5px;
    max-width: 300px;
    border-radius: 10px;
    background:white;
    width: 500px;
    border-color: black;
    
    
}
.discrição{
    width: 330px;
    border-radius: 15px;
    background:white;
}
.materias{
    width: 150px;
    padding: 10px;
    background:white;
    border-radius: 15px;
    max-width:200;
    text-align: center;
    height: 40px;
    color:rebeccapurple;
}